body { background: #eedf9d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 41px; display: flex; }
.block-uploader-0 { color: #e097c2; font-size: 15px; margin-bottom: 5px; }
.block-sms-1 { color: #1958cf; font-size: 12px; margin-bottom: 5px; }
.block-uploader-2 { color: #807406; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #a6ff49; font-size: 17px; margin-bottom: 5px; }
.block-order-4 { color: #84c6c5; font-size: 15px; margin-bottom: 5px; }